.DS_Store
node_modules/
dist/
coverage/
npm-debug.log
yarn-error.log
.tmp/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
src/webui/public/map-key.js

# Activities files
test/Activities/*.fit
