name: TEST

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      uses: actions/setup-node@v2
      with:
        node-version: '14'
      run: |
        npm install
        npm run lint
        npm run build --if-present
        npm test
